<script id="tmpl-MainView" type="text/x-handlebars-template">
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
    </div>
    <div class="chat-area">
      
    </div>
  </div>
</script>
